../../C++_simulation/
	../../Input/
	../../README.md
	../../Research_Proposal.odp
	../.RData
	../.Rhistory
	.RData
	.Rhistory
	.gap_rm.sh.swp
	../add_com_anc.R
	../add_stop.R
	../cds_get.R
	../checkEmpty.sh
	../checkName.sh
	../distance_plot.R
	../dna2aa.R
	../dnds_genome.R
	../edge_bias.R
	../edge_report.R
	../filter.sh
	../geneId_get3.R
	../geneId_get4.R
	../haha_61_aitken.R
	../haha_dumbEM.R
	../haha_gillespie.R
	../haha_json.R
	../haha_para_space.R
	../haha_phase_sampling.R
	../haha_sim_Ptype.R
	../haha_tmp.R
	../haha_turboEM.R
	../in_del_plot.R
	../indel_phasing.R
	../indel_phasing_eff.R
	../make_guide_tree.R
	../map_cds2aa.R
	../old/
	../omega_ladder.R
	../pos_align_matrix.R
	../rev_aa.R
	../sim_zed.R
	../sw_gap.R
	../sw_gap_2.1.R
	../sw_gap_2.R
	../test_NNN.R
	../test_eqLen.R
	../test_mul_3.R
	../test_preStop.R
	../test_std.R
	../transform_preStop.R
	../unitTest/
	../update_gap.R
	../update_gap_2.R
	../zed_omega_corr.R
	../znzs_genome_rev.R
	../../Simul/
	../../buildBlock.sh
	../../paper/
	../../test_90_species/
	../../test_drosophila/
	../../test_human_mouse_rat/
	../../test_mouse_human_macaque/

